@tailwind base;
@tailwind components;
@tailwind utilities;


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}


.dropdown-content-left {
  display: none;
  position: absolute;
  border-radius: 12px;
  top: 100%; 
  left: 50%;  
  bottom: 0;
  transform: translate(-50%, -50%);
  min-width: 160px;
  z-index: 1; 
}

/* Style cho các mục trong dropdown */
 .dropdown-content-left a {
  color: black;
  font-weight: 500;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #EDEFFF;;
  cursor: pointer;
}

 .dropdown-content-left > button {
  background: white;
  border-radius: 12px;
  padding: 12px 16px;
} 
.dropdown-content-left > button:hover {
  background: rgba(0, 0, 0, 0.2);
  
}


/* Hover effect cho mục trong dropdown */
.dropdown-content a:hover, .dropdown-content-left a:hover {
  background-color: #ddd;
}

/* Hiển thị dropdown-content khi hover vào dropdown-btn */
.dropdown:hover .dropdown-content,  .dropdown:hover .dropdown-content-left {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
  cursor: pointer;
}

input {
  border: 2px solid rgb(235, 234, 234);
}

input:focus {
  border: 2px solid rgb(2, 2, 20);
  outline: none;
}